# Malaria: Wandel der globalen  Verbreitung

**Gruppe**
- Darlene Armenio : armdar01@students.zhaw.ch
- Mimoza Mehmeti : mehmemi@students.zhaw.ch 
- Kipisha Selvan : selvakip@students.zhaw.ch

**Fragestellung** 
- Welche Faktoren (Bsp.: Gesundheitsmassnahmen, wirtschaftliche Entwicklung) erklären den Rückgang der Krankheit?

### 1. Daten beschaffen und laden

**Daten von Afrika**

In [30]:
import pandas as pd

df = pd.read_csv('global-malaria-deaths-by-world-region.csv') 
df_africa = df[df['Entity'] == 'Africa']
df_africa

    Entity  Code  Year  malaria_deaths
0   Africa   NaN  2000          840000
1   Africa   NaN  2001          838000
2   Africa   NaN  2002          797000
3   Africa   NaN  2003          774000
4   Africa   NaN  2004          750000
5   Africa   NaN  2005          723000
6   Africa   NaN  2006          715000
7   Africa   NaN  2007          698000
8   Africa   NaN  2008          678000
9   Africa   NaN  2009          671000
10  Africa   NaN  2010          646000
11  Africa   NaN  2011          608000
12  Africa   NaN  2012          575000
13  Africa   NaN  2013          556000
14  Africa   NaN  2014          534000
15  Africa   NaN  2015          527000
16  Africa   NaN  2016          528000
17  Africa   NaN  2017          542000
18  Africa   NaN  2018          533000
19  Africa   NaN  2019          534000
20  Africa   NaN  2020          602000

In [39]:
import pandas as pd
df = pd.read_csv('global-malaria-deaths-by-world-region.csv') 
df_Americas = df[df['Entity'] == 'Americas']
df_Americas

      Entity  Code  Year  malaria_deaths
21  Americas   NaN  2000             909
22  Americas   NaN  2001             832
23  Americas   NaN  2002             764
24  Americas   NaN  2003             726
25  Americas   NaN  2004             711
26  Americas   NaN  2005             687
27  Americas   NaN  2006             581
28  Americas   NaN  2007             503
29  Americas   NaN  2008             470
30  Americas   NaN  2009             463
31  Americas   NaN  2010             502
32  Americas   NaN  2011             464
33  Americas   NaN  2012             430
34  Americas   NaN  2013             470
35  Americas   NaN  2014             348
36  Americas   NaN  2015             414
37  Americas   NaN  2016             529
38  Americas   NaN  2017             664
39  Americas   NaN  2018             571
40  Americas   NaN  2019             509
41  Americas   NaN  2020             409

In [40]:
df = pd.read_csv('global-malaria-deaths-by-world-region.csv') 
df_EasternMediterranean = df[df['Entity'] == 'Eastern Mediterranean']
df_EasternMediterranean

                   Entity  Code  Year  malaria_deaths
42  Eastern Mediterranean   NaN  2000           13700
43  Eastern Mediterranean   NaN  2001           13900
44  Eastern Mediterranean   NaN  2002           13200
45  Eastern Mediterranean   NaN  2003           12200
46  Eastern Mediterranean   NaN  2004           10600
47  Eastern Mediterranean   NaN  2005           11500
48  Eastern Mediterranean   NaN  2006           11500
49  Eastern Mediterranean   NaN  2007            9800
50  Eastern Mediterranean   NaN  2008            7200
51  Eastern Mediterranean   NaN  2009            6900
52  Eastern Mediterranean   NaN  2010            8800
53  Eastern Mediterranean   NaN  2011            8000
54  Eastern Mediterranean   NaN  2012            8100
55  Eastern Mediterranean   NaN  2013            7700
56  Eastern Mediterranean   NaN  2014            7900
57  Eastern Mediterranean   NaN  2015            8300
58  Eastern Mediterranean   NaN  2016            9500
59  Eastern Mediterranean   NaN  2017           10200
60  Eastern Mediterranean   NaN  2018           10900
61  Eastern Mediterranean   NaN  2019           11500
62  Eastern Mediterranean   NaN  2020           12300

In [ ]:
df = pd.read_csv('global-malaria-deaths-by-world-region.csv') 
df_SouthEastAsia = df[df['Entity'] == 'South-East Asia']
df_SouthEastAsia

              Entity  Code  Year  malaria_deaths
105  Western Pacific   NaN  2000            6100
106  Western Pacific   NaN  2001            5300
107  Western Pacific   NaN  2002            4700
108  Western Pacific   NaN  2003            5000
109  Western Pacific   NaN  2004            5600
110  Western Pacific   NaN  2005            4500
111  Western Pacific   NaN  2006            4900
112  Western Pacific   NaN  2007            3800
113  Western Pacific   NaN  2008            3500
114  Western Pacific   NaN  2009            4700
115  Western Pacific   NaN  2010            3500
116  Western Pacific   NaN  2011            3000
117  Western Pacific   NaN  2012            3400
118  Western Pacific   NaN  2013            4000
119  Western Pacific   NaN  2014            3800
120  Western Pacific   NaN  2015            2400
121  Western Pacific   NaN  2016            2900
122  Western Pacific   NaN  2017            3000
123  Western Pacific   NaN  2018            3000
124  Western Pacific   NaN  2019            2600
125  Western Pacific   NaN  2020            3200

In [47]:
df = pd.read_csv('global-malaria-deaths-by-world-region.csv') 
df_WesternPacific = df[df['Entity'] == 'Western Pacific']
df_WesternPacific

              Entity  Code  Year  malaria_deaths
105  Western Pacific   NaN  2000            6100
106  Western Pacific   NaN  2001            5300
107  Western Pacific   NaN  2002            4700
108  Western Pacific   NaN  2003            5000
109  Western Pacific   NaN  2004            5600
110  Western Pacific   NaN  2005            4500
111  Western Pacific   NaN  2006            4900
112  Western Pacific   NaN  2007            3800
113  Western Pacific   NaN  2008            3500
114  Western Pacific   NaN  2009            4700
115  Western Pacific   NaN  2010            3500
116  Western Pacific   NaN  2011            3000
117  Western Pacific   NaN  2012            3400
118  Western Pacific   NaN  2013            4000
119  Western Pacific   NaN  2014            3800
120  Western Pacific   NaN  2015            2400
121  Western Pacific   NaN  2016            2900
122  Western Pacific   NaN  2017            3000
123  Western Pacific   NaN  2018            3000
124  Western Pacific   NaN  2019            2600
125  Western Pacific   NaN  2020            3200