# Malaria: Wandel der globalen  Verbreitung

**Gruppe**
- Darlene Armenio : armdar01@students.zhaw.ch
- Mimoza Mehmeti : mehmemi@students.zhaw.ch 
- Kipisha Selvan : selvakip@students.zhaw.ch

**Fragestellung**
- Wie und warum die globale Vebreitung und Sterblichkeit von Malaria seit dem  20.Jahrhundert sich verändert hat ? 
- Welche Faktoren (Bsp.: Gesundheitsmassnahmen, wirtschaftliche Entwicklung) erklären den Rückgang der Krankheit

### 1. Daten beschaffen und laden

**Daten von Afrika**

In [30]:
import pandas as pd

df = pd.read_csv('global-malaria-deaths-by-world-region.csv') 
df_africa = df[df['Entity'] == 'Africa']
df_africa

    Entity  Code  Year  malaria_deaths
0   Africa   NaN  2000          840000
1   Africa   NaN  2001          838000
2   Africa   NaN  2002          797000
3   Africa   NaN  2003          774000
4   Africa   NaN  2004          750000
5   Africa   NaN  2005          723000
6   Africa   NaN  2006          715000
7   Africa   NaN  2007          698000
8   Africa   NaN  2008          678000
9   Africa   NaN  2009          671000
10  Africa   NaN  2010          646000
11  Africa   NaN  2011          608000
12  Africa   NaN  2012          575000
13  Africa   NaN  2013          556000
14  Africa   NaN  2014          534000
15  Africa   NaN  2015          527000
16  Africa   NaN  2016          528000
17  Africa   NaN  2017          542000
18  Africa   NaN  2018          533000
19  Africa   NaN  2019          534000
20  Africa   NaN  2020          602000